<!-- book.component.html -->
@if (book(); as book) {
  <div class="card mb-4">
    <div class="card-body bg-light">
      <img class="img-thumbnail float-end" [src]="book.firstThumbnailUrl" style="max-width: 150px;">
      <div class="card-title">
        <h2>
          {{ book.title }}
          <span class="badge bg-secondary">{{ book.rating }}</span>
        </h2>
      </div>
      <p>{{ book.description }}</p>
      <p><strong>Preis:</strong> {{ book.price | euro }}</p>

      <button type="button" class="btn btn-green" (click)="addToCart()">🛒 Add to cart</button>
    </div>
  </div>
  }
